/* =================================================================================== 
/* ===================================================================================
/**POUR LA PAGE D'ACCEUIL                           */
/* =================================================================================== 
/* =================================================================================== */

/*  ===================================================================*/ 
/* Conteneur zone 1 */
/*  ===================================================================*/ 
.content1-container {
  background-color: #000; /* Fond noir */
  color: white; /* Texte en blanc */
}

/* Conteneur texte + image */
.content1-item {
  position: relative; /* Nécessaire pour positionner l'image */
  display: block; /* Dispose les enfants normalement */
  overflow: hidden; /* Gère les flottants pour éviter le débordement */
}

/* Image flottante */
.content1-image {
  float: right; /* Place l'image dans le coin supérieur droit */
  width: 30vw; /* Taille de l'image (30% de la largeur) */
  height: auto; /* Conserve les proportions de l'image */
  margin: 0 0 0vh 2vw; /* Espacement autour de l'image (droite et bas) */
}

/* Texte */
.content1-text {
  padding: 1vh 1.5vw 1vh 1vw;
  line-height: 1.4; /* Hauteur de ligne */
  text-align: justify; /* Justifie le texte */
  color : white !important;
}

.content1-text .title {
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 1.8vh;
  text-transform: uppercase;
}

.content1-text .location {
  font-size: 3.6vh;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-bottom: 1vh;
}

.content1-text .description {
  font-size: 2vh;
}


@media (max-width: 768px) {
  .content1-text .title {
    font-size: 2vh;
    font-weight: bold;
    margin-bottom: 0.6vh;
    text-transform: uppercase;
  }

  .content1-text .location {
    font-size: 1.8vh;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-bottom: 0.3vh;
  }

  .content1-text .description {
    font-size: 1.5vh;
  }

  .content1-image {
    float: right; /* Place l'image dans le coin supérieur droit */
    width: 50vw; /* Taille de l'image (30% de la largeur) */
    height: auto; /* Conserve les proportions de l'image */
    margin: 0 0 0vh 2vw; /* Espacement autour de l'image (droite et bas) */
  }
}


/*  ===================================================================*/ 
/* Conteneur zone 1 */
/*  ===================================================================*/ 

.content2-container {
  background-color: #000; /* Fond noir */
  color: white; /* Texte en blanc */
  padding-bottom: 4vh;
}

/* Conteneur texte + image */
.content2-item {
  position: relative; /* Nécessaire pour positionner l'image */
  display: block; /* Dispose les enfants normalement */
  overflow: hidden; /* Gère les flottants pour éviter le débordement */
}

/* Image flottante */
.content2-image {
  float: left; /* Place l'image dans le coin supérieur droit */
  width: 50vw; /* Taille de l'image (30% de la largeur) */
  height: auto; /* Conserve les proportions de l'image */
  margin: 0 2vw 0vh 0; /* Espacement autour de l'image (droite et bas) */
}

/* Texte */
.content2-text {
  padding: 1vh 1.5vw 1vh 1vw;
  line-height: 1.4; /* Hauteur de ligne */
  text-align: justify; /* Justifie le texte */
  color : white !important;
  font-family: 'Georgia', serif; /* Police élégante, modifiable selon votre préférence */
}

.content2-text .title {
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 1.8vh;
  text-transform: uppercase;
}

.content2-text .description {
  font-style: italic; /* Italique */
  font-size: 2vh;
}


@media (max-width: 768px) {
  .content2-text .title {
    font-size: 2vh;
    font-weight: bold;
    margin-bottom: 0.6vh;
    text-transform: uppercase;
  }


  .content2-text .description {
    font-size: 1.5vh;
    font-style: italic; /* Italique */
  }
}





/* Section 3 - "Où nous trouver" */
.section3 {
    padding: 0vh 0vw 5vh 0vw;
    background-color: #000000; /* Facultatif : ajoute une couleur de fond */
  }
  
  /* Container pour le texte et la carte */
  .content-MAP {
    display: block;  /* Par défaut, les éléments sont affichés en bloc */
    text-align: center;  /* Centre le texte */
    padding-top: 0vh;
  }
  
  /* Titre */
  .section3 .title {
    font-size: 3vh; /* Ajuste la taille du titre */
    font-weight: bold;
    color: white;
    margin-bottom: 1vh;  /* Marge sous le titre pour espacer de la carte */
  }
  
  @media (max-width: 768px) {
    .section3 .title {
      font-size: 2vh; /* Ajuste la taille du titre */
      font-weight: bold;
      color: white;
      margin-bottom: 1vh;  /* Marge sous le titre pour espacer de la carte */
    }
  }

  /* Carte */
  .google-map iframe {
    width: 40vh; /* Prend toute la largeur du conteneur */
    height: 40vh;  /* Vous pouvez ajuster la hauteur comme vous le souhaitez */
    border-radius: 2vh; /* Bordures arrondies pour l'iframe */
    margin: 0 auto;  /* Centre la carte horizontalement */
    display: block;  /* Assure que l'iframe est affichée en tant que bloc */
  }


  
  