/* =================================================================================== 
/* ===================================================================================
/**POUR LA PAGE D'ACCEUIL                           */
/* =================================================================================== 
/* =================================================================================== */
/* Section principale */

/*  ===================================================================*/ 
/*  ===================================================================*/ 
/*                MISE EN PAGE CLASSIQUE POUR PC
/*  ===================================================================*/ 
/*  ===================================================================*/ 
/* Conteneur global */
.content-container {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: black !important
  
  } 

  .intro-section {
    box-shadow: 0 0 0 100vmax;
    background-color: #000 !important;
    color : black !important;
    align-items: left top
}
  

/* Partie texte */
.text-content {
    text-align: start; /* Centre le texte horizontalement */
    margin: 0 auto; /* Centre horizontalement le conteneur */
    padding: 1vh 1vh; /* Ajoute un léger espace à l'intérieur */
    max-width: 80%; /* Optionnel : limite la largeur pour éviter un texte trop étalé */
    box-sizing: border-box;
    color : white !important;
}

.title {
  font-size: 2vh;
  font-weight: bold;
  margin-bottom: 1.8vh;
  text-transform: uppercase;
}

.location {
  font-size: 1.8vh;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-bottom: 1vh;
}

.description {
  font-size: 1.5vh;
}

/* Partie image */
.image-content img {
  width: 30vw; /* Conserve les proportions de l'image */
  height: auto; /* Adapte la hauteur de l'image à celle du conteneur parent */
  object-fit: cover; /* Ajuste l'image pour remplir le conteneur sans déformation */
  border-radius: 0px; /* Garde les coins arrondis */

}


@media (max-width: 768px) {
  .content-container {
    display: block !important;
    justify-content: space-between;
    background-color: #000;
    color: black !important
  } 

  .image-content img {
    float: right; /* Supprime le flottement sur mobile */
    width: 30vw; /* Image en pleine largeur */
    margin: 0 0 2vh 0; /* Espacement en bas seulement */
  }

  .text-content {
      text-align: center; /* Centre le texte */
  }

}

/* Section globale */
.section2 {
  box-shadow: 0 0 0 100vmax;
  align-items: left top;
  background-color: #000; /* Fond noir */
}


/* Partie image */
.section2 .image-content img {
  width: 60vw; /* Conserve les proportions de l'image */
  height: auto; /* Adapte la hauteur de l'image à celle du conteneur parent */
  object-fit: cover; /* Ajuste l'image pour remplir le conteneur sans déformation */
  border-radius: 0px; /* Garde les coins arrondis */
}


@media (max-width: 768px) {

    /* Partie image */
    .section2 .image-content img {
    float: left !important;
    width: 60vw; /* Conserve les proportions de l'image */
    height: auto; /* Adapte la hauteur de l'image à celle du conteneur parent */
    object-fit: cover; /* Ajuste l'image pour remplir le conteneur sans déformation */
    border-radius: 0px; /* Garde les coins arrondis */

  }
}

/* Partie texte */
.section2 .text-content {
  text-align: start; /* Centre le texte horizontalement */
  margin: 0 auto; /* Centre horizontalement le conteneur */
  padding: 2vh 2vh; /* Ajoute un léger espace à l'intérieur */
  max-width: 80%; /* Optionnel : limite la largeur pour éviter un texte trop étalé */
  box-sizing: border-box;
  color : white !important;
  font-style: italic; /* Italique */
  font-family: 'Georgia', serif; /* Police élégante, modifiable selon votre préférence */
}

.section2 .text-content .title {
  font-size: 2vh;
}

/* Description avec style personnalisé */
.section2 .description2 {
  font-size: 1.5vh;
  line-height: 1.6;
}

/* Section 3 - "Où nous trouver" */
.section3 {
    padding: 1.2vh;
    background-color: #000000; /* Facultatif : ajoute une couleur de fond */
  }
  
  /* Container pour le texte et la carte */
  .content-MAP {
    display: block;  /* Par défaut, les éléments sont affichés en bloc */
    text-align: center;  /* Centre le texte */
    padding-top: 6vh;
  }
  
  /* Titre */
  .section3 .title {
    font-size: 1.5vh; /* Ajuste la taille du titre */
    font-weight: bold;
    color: white;
    margin-bottom: 1vh;  /* Marge sous le titre pour espacer de la carte */
  }
  
  /* Carte */
  .google-map iframe {
    width: 40vh; /* Prend toute la largeur du conteneur */
    height: 40vh;  /* Vous pouvez ajuster la hauteur comme vous le souhaitez */
    border-radius: 2vh; /* Bordures arrondies pour l'iframe */
    margin: 0 auto;  /* Centre la carte horizontalement */
    display: block;  /* Assure que l'iframe est affichée en tant que bloc */
  }