
/* Section 1 */
.content1-container {
  background-color: #000; /* Fond noir */
  color: white;
  vertical-align: middle;
  font-size: 3vh;
}




/* Conteneur texte + image */
.content1-container p {
  padding-top : 2vh !important;
  text-align :center
}

/* Image flottante */
.content1-container img {
  width: auto; /* Taille de l'image (30% de la largeur) */
  height: 3vh; /* Conserve les proportions de l'image */
  margin: 0 0 0vh 0vw; /* Espacement autour de l'image (droite et bas) */
}



/* Section globale */
.menu-section {
  padding: 2vh;
  background-color: #000000;
  border-radius: 0vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.menu-container {
  width: 100%; /* Augmenté pour s'adapter à deux images */
  margin: 0 auto;
}

/* Images du carousel */
.c-img {
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Contrôles du carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: invert(100%);
  width: 30px;
  height: 30px;
}

/* Points indicateurs */
.carousel-indicators li {
  background-color: #555;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.carousel-indicators .active {
  background-color: #000;
}

/* Ajustements pour deux images côte à côte */
.carousel-item .row {
  display: flex;
  align-items: center;
}

.carousel-item .col-6 {
  padding: 0 10px; /* Espace entre les images */
}
