* {
  background-color: unset; /* Supprime les styles de fond hérités */
}
.header {
    position: relative;
    width: 100%; /* Occupe toute la largeur de la page */
    text-align: center; /* Centre le contenu si nécessaire */
}

/* Image qui ajuste la taille du conteneur */
.header-image {
    width: 100%; /* L'image s'adapte à la largeur de son conteneur */
    height: auto; /* Maintient les proportions de l'image */
    display: block; /* Supprime les marges blanches indésirables */
}

/* Overlay pour l'effet sombre */
.header .overlay {
    background: rgba(0, 0, 0, 0.2); /* Effet de superposition sombre */
    position: absolute; /* Position absolue pour superposer */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex; /* Alignement central du contenu */
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Rend l'overlay non cliquable */
}

.social-icons {
    position: absolute;
    bottom: 1.3vh !important; /* Change en fonction de l'endroit souhaité */
    left: 2vw; /* Distance depuis le bord droit */
    display: flex;
    gap: 2vw;
}

.social-logo {
    width: 8vh; /* Taille des logos */
    height: auto; /* Préserve les proportions */
    transition: transform 0.3s ease, filter 0.3s ease; /* Animation pour le survol */
}

/* Ajoute un effet de survol */
.social-logo:hover {
    transform: scale(1.4); /* Zoom léger sur le logo */
}

/* POUR LES PETITS ECRAN */
@media (max-width: 700px) {
    .social-icons {
        position: absolute;
        bottom: 1.3vh !important; /* Change en fonction de l'endroit souhaité */
        left: 2vw; /* Distance depuis le bord droit */
        display: flex;
        gap: 2vw;
    }
    
    .social-logo {
        width: 4vh; /* Taille des logos */
        height: auto; /* Préserve les proportions */
        transition: transform 0.3s ease, filter 0.3s ease; /* Animation pour le survol */
    }
    
    /* Ajoute un effet de survol */
    .social-logo:hover {
        transform: scale(1.4); /* Zoom léger sur le logo */
    }
}



.navbar {
    position: relative; /* Plus d'absolu par rapport au header */
    background-color: #873F2B; /* Fond noir */
    padding: 1vh 5vh; /* Ajouter du padding */
    z-index: 1000; /* Toujours au-dessus des autres éléments */
}

.navbar-nav {
    display: flex; /* Utilisation de Flexbox */
    justify-content: space-around; /* Espacement égal entre les liens */
    width: 100%; /* Occupe toute la largeur disponible */
    padding: 0; /* Supprime les marges internes */
    margin: 0; /* Supprime les marges externes */
    list-style: none; /* Supprime les puces des listes */
}

.navbar .nav-link {
    color: white !important; /* Couleur des liens */
    font-size: 2.5vh;
    font-weight: bold; /* Texte en gras */
    text-transform: uppercase; /* Tout en majuscules */
}

.navbar .nav-link:hover {
    color: rgba(255, 255, 255, 0.356) !important; /* Changement de couleur au survol */
}


.container {
  max-width: 100vw; 
  padding-left: 0;
  padding-right: 0;
  background-color: #000;
  color: black !important
}

/* Conteneur global */
.content-container {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: black !important

} 
